* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: sans-serif;
}

.todo-main {
  margin-top: 5rem;
  text-align: center;
}

.todo-container {
  width: 25rem;
  height: 30rem;
  padding: 1rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin: auto;
}

.todo-header {
}

.todo-title {
  margin-bottom: 1rem;
}

.todo-form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.todo-input,
.todo-add {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e9ecef;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 500;
}

.todo-add {
  font-weight: 600;
  cursor: pointer;
}

.todo-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  list-style: none;
  padding-left: 2rem;
  border-left: 3px solid #e03131;
}

.todo-list.active {
  border-left: 3px solid #37b24d;
}
