* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.4s;
}

body {
  color: #333;
  font-family: sans-serif;
}

.todo-main {
  margin-top: 5rem;
  text-align: center;
}

.todo-container {
  width: 25rem;
  height: 30rem;
  padding: 1rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  margin: auto;
}

.todo-title {
  margin-bottom: 1rem;
}

.todo-form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.todo-input,
.todo-add {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e9ecef;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 500;
}

.todo-add {
  font-weight: 600;
  cursor: pointer;
}

.todo-lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list {
  text-align: left;
  list-style: none;
  color: #e03131;
  display: flex;
  align-items: center;
  justify-content: left;
}

.todo-list:active {
  transform: scale(0.95);
}

.list-border {
  margin-right: 2rem;
  height: 100%;
  width: 3px;
  background-color: #e03131;
}

.list-border.active {
  transform: rotate(180deg);
  background-color: #37b24d;
}

.todo-list-button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.todo-list-button.active-btn:hover {
  color: #37b24d;
}
.todo-list-button:hover {
  color: #e03131;
}
